<form >
    <fieldset style="background: #f6f8ff; border: 2px solid #4238ca;">
      <legend>Equality</legend>
      <div>Count: {{count()}} 
        <button type="button" (click)="setTo(1)">1</button>
        <button type="button" (click)="setTo(2)">2</button>
        <button type="button" (click)="setTo(3)">3</button>
      </div>
      <div>CountChangeOnEquality: {{countChangeOn3()}} 
        <button type="button" (click)="setEqTo(1)">1</button>
        <button type="button" (click)="setEqTo(2)">2</button>
        <button type="button" (click)="setEqTo(3)">3</button>
      </div>
      

      
      
    </fieldset>
  </form>



